.input {
    background: var(--white);
    border: 1px solid #9fa0a7;
    border-radius: 15px;
    padding: 18px 20px;
    font-family: var(--second-font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4f5569;
}
