@import "../../scss/libs/animation";
.plan {
    overflow: hidden;
    position: relative;
    margin-top: 100px;
    &__title {
        text-align: center;
        & span {
            font-size: 2rem;
            text-decoration: underline;
            text-decoration-style: wavy;
            text-underline-offset: 8px;
            text-decoration-color: var(--additionalAccentColor);
        }
    }
    &__content {
        position: relative;
        margin-top: 100px;
        & img {
            display: block;
            max-width: var(--container-width);
            margin: 0 auto;
        }
        &_step ul li {
            max-width: 246px;
            position: absolute;
            &:first-child {
                left: 25%;
                top: 0;
                opacity: 0;
            }
            &:nth-child(2) {
                top: 39%;
                left: 50%;
                opacity: 0;
                transform: translateX(-50%);
            }
            &:last-child {
                bottom: 40px;
                right: 14%;
                opacity: 0;
            }
        }
    }
    & .plane {
        width: 120px;
        height: 90px;
        position: absolute;
        opacity: 0;
        z-index: 3;
        top: 120px;
    }
    @media (max-width: 567px) {
        display: none;
    }
}
.sky {
    width: 99vw;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.animPlan {
    animation: linear fly-plane;
    animation-duration: 4s;
}

.animstep {
    animation: step 4s;
    animation-fill-mode: forwards;
}
.animstep2 {
    animation: step 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.animstep3 {
    animation: step 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
