.sertificate {
    margin-top: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 44px;
    @media (max-width: 1340px) {
        justify-content: center;
        gap: 20px 0;
    }

    &__info {
        & p {
            max-width: 600px;
            color: var(--font-color-light);
            margin-bottom: 20px;
        }
        & h2 {
            margin-bottom: 27px;
            & span {
                font-size: 2rem;
                text-decoration: underline;
                text-decoration-style: wavy;
                text-underline-offset: 8px;
                text-decoration-color: var(--additionalAccentColor);
            }
        }
    }
    & img {
        max-width: 680px;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}
