:root {
    // Color
    --white: #fff;
    --font-color: #1f1d2a;
    --font-color-light: #4f5569;
    --mainAccentColor: #14a76c;
    --mainAccentColor-hover: #10744c;
    --additionalAccentColor: #ff652f;
    --hover-btn-color: #e02d05;
    --linear-gradient-bg: linear-gradient(326.12deg, #5d77ff 17.95%, #6539c1 89.78%);

    // Fonts

    --main-font-family: "Nunito", sans-serif;
    --second-font-family: "Rubik", sans-serif;
    --font-family-diploma: "Vollkorn", serif;

    --font-size: 16px;

    // Container

    --container-width: 1395px;
}
