@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&family=Rubik:wght@400;500;700&family=Vollkorn:wght@400;500&display=swap");

@import "./variables";
@import "./libs/normalize";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, var(--main-font-family);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  @media (max-width: 1440px) {
    padding: 0 20px;
  }
}

.overflow {
  overflow: hidden;
}
